
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "roboto", sans-serif;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: #333;
    line-height: 1.6;
}

