.weatherContainer {
	background:transparent !important;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: 1px 0px 3px 2px;
	border-radius: 10px;
	padding: 20px;
	margin: 20px 0;

	& h2 {
		font-size: 2rem;
		color: #686868;
		margin-bottom: 10px;
	}

	& h3 {
		font-size: 1.5em;
		margin-bottom: 15px;
		border-bottom: 1px solid #acacac;
	}
}

.weatherInfo {
	display: flex;
	align-items: center;
	justify-content: center;

	& img {
		width: 100px;
		height: 100px;
	}
}

.description {
	font-size: 1.3rem;
	color: #333;
	margin-top: 10px;
	text-transform: capitalize;
}

.temperature {
	font-size: 2.5rem;
	color: #333;
	margin-top: 10px;
}

.details {
	display: flex;
	justify-content: space-around;

	& p {
		margin: 5px 0;
		font-size: 1rem;
		color: #333;
	}
}

.weatherlist {
	display: flex;

	& p {
		margin: 5px 0;
		font-size: 1rem;
		color: #333;
		text-transform: capitalize;
		font-weight: 600;
	}
}

.weatherItem {
	background-color: #f9f9f9;
	border: 1px solid #eee;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	padding: 10px;
	margin: 10px 2px;
}
